@import url('https://fonts.googleapis.com/css?family=Handjet');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    width: 100%;
    height: 100%;
}


* {
    box-sizing: border-box;
    
}


body {
    background-image: url("../assets/bg.svg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Fira Code";
}


.conta {
    width: 100%;
    align-items: center;
    justify-items: center;
}


.hee p {
    color: #EB6E2B;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Handjet";
    font-size: 150px;
    font-weight: 700;
    line-height: 7.5rem;
    text-transform: uppercase;
}

.hee img {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-top: -8rem; /* Move the brain image upwards by increasing the negative margin */
}


.all button {
    width: 23rem; 
    height: 3rem;
    font-weight: 500;
    font-style: bolder;
    text-transform: uppercase;
    font-family: "Shadows Into Light";
    font-size: 1.8rem;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 0 3px #EB6E2B;
    margin-top: 6rem; /* Adjust to control spacing below the brain image */
}


.grou img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 200px; 
    max-height: 200px; 
}
