@import url('https://fonts.googleapis.com/css?family=Handjet');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Manrope');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
    font-family: 'MBJ' ;
    src: url(/1am/src/fonts/MBJ\ Handwriting.ttf);
}


@font-face {
    font-family:'HighriseDemo' ;
    src: url(/1am/src/fonts/FontsFree-Net-HighriseDemo-400.ttf);
}

.dev {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 10% 3%;
   margin-bottom: -5rem;
}

.left {
    width: 758px;
    height: 336px;
}

.left button {
    width: 15rem;
    height: 3rem;
    font-weight: 500;
    font-style: bolder;
    font-family: "Shadows Into Light";
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    box-shadow:
        0 0 0 3px #EB6E2B;
        /* margin-bottom: 1rem; */
}


.left img{
      
    margin-top: -2rem;
    margin-bottom: -1rem;
    width: 3.3rem;
    height: 3.5rem;
   
}


span {
    color: #EB6E2B;
}

.left p {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
   

}

.right {
   
}

.alone {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: fit-content;
    margin: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    flex-direction: column;
    margin-bottom: -40rem;
    
}

.txt {
    display: flex;
    /* align-items: center; */
    /* justify-items: center; */
    flex-direction: column;
}

.small {
    color: #8888A5;
    font-family: "Fira Code";
    width: 16rem;
    height: 0.75rem;
    font-weight: 400;
    line-height: 0.8rem;
    letter-spacing: 3px;
}

/* #a { */
    /* float: left; */
    /* align-self: flex-start; */
/* } */

#c {
    width: fit-content;
    align-self: flex-end;
}

.b {
    color: #000;
    font-family: "Handjet";
    font-size: 12rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    line-height: 9rem;
}

.temp {
    position: relative; 
    display: inline-block; 
}

.dot {
    width: 53rem; 
    height: 39rem; 
    border-radius: 7.6rem; 
    margin-top: 10%; 
    margin-bottom: 10%; 
    display: block; 
}

.temp::before {
    margin-top: 5.3rem;
    margin-bottom: 9rem;
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 78.4%; 
    background: #FF5E0E; 
    mix-blend-mode: color; 
    border-radius: 7.6rem; 
    pointer-events: none; 
}



.exp {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.exe {
    /* width: 21rem; */
    height: 2rem;
    color: #8888A5;
    font-size: 1.5rem;
    font-family: "Fira Code";
    font-weight: 700;
    line-height: 0.8125rem;
    letter-spacing: 3px;
    margin-bottom: 0;
}

span {
    color: #EB6E2B;
}

#le {
    font-family: "Manrope";
    text-transform: uppercase;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 0;
}

#in {
    text-transform: uppercase;
    color: #000;
    font-family: "Handjet";
    font-size: 6.25rem;
    font-weight: 600;
    margin: 0;
    font-style: normal;
    letter-spacing: 1px;
}

#out {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

.js {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 10% 3%;
    gap: 100px;

}

#han {
    font-family: "Handjet";
    font-size: 70px;
    font-weight: 600;
    color: #000;
    left: 0;
    width: 505px;
    margin: 0;
    text-transform: uppercase;
}

#id {
    color: #000000;
    font-family: "Manrope", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 81px;
    margin: 0;
    /* left: 0; */
    /* letter-spacing: 0; */
    line-height: normal;
    /* position: fixed; */
}


.cod {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.off {
    font-family: "Fira Code", monospace;
    color: #8888A5;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0;
}

#of {
    font-family: "Manrope", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

#on {
    font-family: "Handjet", sans-serif;
    font-size: 6.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin: 0.5rem 0;
    letter-spacing: 1px;
}

.do {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4rem; 
    position: relative; 
   
}

 

.overlay-image {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    border-radius: 3.67rem; 
    pointer-events: none; 
    background: #FF5E0E; 
    mix-blend-mode: color; 
    /* border-radius: 7.6rem;  */
    pointer-events: none; 
}




.jo,
.ro,
.bo {
    color: #FF5E0E;
    font-family: Handjet;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-top: 1rem;

}

#joo,
#roo,
#boo {
    color: #000;
    font-family: 'fira-code';
    font-size: 25px;
    font-weight: 400;
    margin-left: 10rem;
    margin-right: 8rem;
    margin-top: 1px;
    line-height: 2.3rem;
}

.da img {
    padding: 0%;
    margin: 0;
    margin-left: 10rem;
    margin-top: 0px;
    line-height: 2px;

}

.all {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    margin-top: 4.6rem;

}

.all button {
    width: 18rem;
    height: 3rem;
    text-transform: uppercase;
    font-style:bold;
    font-family: "Shadows Into Light";
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    box-shadow:
        0 0 0 3px #EB6E2B;
    letter-spacing: 3px;
       font-weight: 600;

}

.ce {
    color: #8888A5;
    font-family: "Fira Code";
    font-size: 18px;
    line-height: 5rem;
    font-weight: 400;
    letter-spacing: 2px;

}

.all img {
    width: 464px;
    height: 225px;
    margin-bottom: -7rem;
    margin-top: -2rem;
}


.footer{
    margin-bottom: -4rem;
}


.foot {
    
    align-items: center;
    flex-direction: column;
    margin: -0.5rem;
    color: #000;
    text-align: center;
    font-family: "Fira Code";
    font-size: 25px;
    font-weight: 600;
    
}

.foo{
    margin-top: 5rem;
}

.fin{
    color: #EC6E2B;
    text-align: center;
   font-family: "Fira Code";
    font-size: 20px;
    font-weight: 500;
    line-height: 3;
    margin-top: -2px;
   
}

.foot .fe{
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-weight: 500rem;
    margin-top: -14.9rem;
   
  
}


.few{
    color: #000;
    font-family: "HighriseDemo" ;
    font-size: 100px;
    font-weight: 300rem;
    text-transform: uppercase;
    margin-bottom:-40rem ;
    margin-top: 3rem;
    position: relative;
    top: 50px; /* Adjust to move it down */
    
   
}

/* p .few{
    margin: -7rem;
    margin-top: 3rem;
} */

.fonts{
    align-items: center;
    text-align: end;
    margin-right: -8.5rem;
    margin-bottom: 0.05px;
    margin-top: -25rem;
}

.fonts img{
margin-right: 14rem;
margin-top: 5rem;

}

#count{
    margin-bottom: 15rem;
}



.foots .fly, .flo,.fap, .fp, .fan{
    margin-left: -9rem;
   

}



.foots {
 margin-top: 7rem;
 margin-bottom: 14rem;
 font-weight: 580;
 
}

#lif{
    margin-bottom: 3rem;
    
}

 .fot{
   margin-top: 2rem;
}

#fan{
    font-weight: 600;
   margin-top: -2rem;
    margin-inline-start: -10rem;
}

.foot{
margin-top:4rem;

}



/* Fade In Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards; /* Change duration as needed */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


